In [11]:
import pandas as pd 

hot_news=pd.read_csv('/Users/adityaravindrabhat/Downloads/Final Datasets/Final Datasets_V1_Sep/hot_new.csv')
hot_news.head()

,Rank,title,score,id,url,comms_num,author,upvote_ratio,flair,created_utc,...,no_crossposts,domain,is_crosspostable,view_count,visited,upvote,ups,is_video,link_flair_text,gilded
0,0.0,2020 Tokyo Olympics Megathread,49,ooqc6i,https://www.reddit.com/r/news/comments/ooqc6i/...,142,NewsModTeam,0.65,Does not answer PMs,1626875614,...,0,self.news,TRUE,NaN,FALSE,<bound method VotableMixin.upvote of Submissio...,49,FALSE,NaN,0
1,1.0,Man found dead with ‘I touch little girls’ wri...,14470,oou7kh,https://www.news.com.au/world/north-america/ma...,1859,WritesUaSong,0.97,NaN,1626887118,...,2,news.com.au,TRUE,NaN,FALSE,<bound method VotableMixin.upvote of Submissio...,14470,FALSE,NaN,0
2,2.0,New Jersey hospital fires 6 employees who did ...,32350,oorcsq,https://www.nbcnews.com/news/us-news/new-jerse...,3818,Dictator0,0.88,NaN,1626878793,...,3,nbcnews.com,TRUE,NaN,FALSE,<bound method VotableMixin.upvote of Submissio...,32350,FALSE,NaN,0
3,3.0,Yosemite park ranger shares heartbreaking plea...,44462,oonzyz,https://www.cnn.com/travel/amp/yosemite-bear-k...,2319,ezzrd,0.92,NaN,1626867004,...,7,cnn.com,TRUE,NaN,FALSE,<bound method VotableMixin.upvote of Submissio...,44462,FALSE,NaN,0
4,4.0,Sheriff’s office captain found passed out in t...,2004,oowppz,https://www.wftv.com/news/9investigates/scso-c...,227,AllenZulu,0.97,NaN,1626894543,...,2,wftv.com,TRUE,NaN,FALSE,<bound method VotableMixin.upvote of Submissio...,2004,FALSE,NaN,0

In [12]:
hot_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13973 entries, 0 to 13972
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              13700 non-null  float64
 1   title             13973 non-null  object
 2   score             13973 non-null  object
 3   id                13973 non-null  object
 4   url               13973 non-null  object
 5   comms_num         13973 non-null  object
 6   author            13969 non-null  object
 7   upvote_ratio      13973 non-null  object
 8   flair             436 non-null    object
 9   created_utc       13973 non-null  object
 10  clicked           13973 non-null  object
 11  edited            13973 non-null  object
 12  no_crossposts     13973 non-null  object
 13  domain            13973 non-null  object
 14  is_crosspostable  13973 non-null  object
 15  view_count        273 non-null    object
 16  visited           13973 non-null  object
 17  upvote            13973 non-null  object
 18  ups               13973 non-null  object
 19  is_video          13973 non-null  object
 20  link_flair_text   1316 non-null   object
 21  gilded            13973 non-null  object
dtypes: float64(1), object(21)
memory usage: 2.3+ MB

In [13]:
hot_news=hot_news.dropna(subset=['Rank'])
hot_news['Rank']=hot_news['Rank']+1
hot_news.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13700 entries, 0 to 13972
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              13700 non-null  float64
 1   title             13700 non-null  object
 2   score             13700 non-null  object
 3   id                13700 non-null  object
 4   url               13700 non-null  object
 5   comms_num         13700 non-null  object
 6   author            13696 non-null  object
 7   upvote_ratio      13700 non-null  object
 8   flair             163 non-null    object
 9   created_utc       13700 non-null  object
 10  clicked           13700 non-null  object
 11  edited            13700 non-null  object
 12  no_crossposts     13700 non-null  object
 13  domain            13700 non-null  object
 14  is_crosspostable  13700 non-null  object
 15  view_count        0 non-null      object
 16  visited           13700 non-null  object
 17  upvote            13700 non-null  object
 18  ups               13700 non-null  object
 19  is_video          13700 non-null  object
 20  link_flair_text   1043 non-null   object
 21  gilded            13700 non-null  object
dtypes: float64(1), object(21)
memory usage: 2.4+ MB

In [14]:
hot_news=hot_news.drop(columns=['view_count'],axis='columns')

In [15]:
hot_news['created_utc']=pd.to_datetime(hot_news.created_utc,unit='s').dt.tz_localize('utc').dt.tz_convert('US/Eastern')
hot_news['created_utc'].head()

0   2021-07-21 09:53:34-04:00
1   2021-07-21 13:05:18-04:00
2   2021-07-21 10:46:33-04:00
3   2021-07-21 07:30:04-04:00
4   2021-07-21 15:09:03-04:00
Name: created_utc, dtype: datetime64[ns, US/Eastern]

In [16]:
hot_news['created_date']=hot_news['created_utc'].dt.date
hot_news['created_time']=hot_news['created_utc'].dt.time

In [17]:
hot_news['created_time'].head()

0    09:53:34
1    13:05:18
2    10:46:33
3    07:30:04
4    15:09:03
Name: created_time, dtype: object

In [18]:
#Removing all the auto moderated posts as they are discussions and not links to posts
hot_news=hot_news[hot_news['author']!="AutoModerator"]
hot_news.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13700 entries, 0 to 13972
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              13700 non-null  float64
 1   title             13700 non-null  object
 2   score             13700 non-null  object
 3   id                13700 non-null  object
 4   url               13700 non-null  object
 5   comms_num         13700 non-null  object
 6   author            13696 non-null  object
 7   upvote_ratio      13700 non-null  object
 8   flair             163 non-null    object
 9   created_utc       13700 non-null  datetime64[ns, US/Eastern]
 10  clicked           13700 non-null  object
 11  edited            13700 non-null  object
 12  no_crossposts     13700 non-null  object
 13  domain            13700 non-null  object
 14  is_crosspostable  13700 non-null  object
 15  visited           13700 non-null  object
 16  upvote            13700 non-null  object
 17  ups               13700 non-null  object
 18  is_video          13700 non-null  object
 19  link_flair_text   1043 non-null   object
 20  gilded            13700 non-null  object
 21  created_date      13700 non-null  object
 22  created_time      13700 non-null  object
dtypes: datetime64[ns, US/Eastern](1), float64(1), object(21)
memory usage: 2.5+ MB

In [24]:
hot_news.to_csv('/Users/adityaravindrabhat/Downloads/Final Datasets/SemicleanDatasets_v1/hot_news_v1.csv')

In [1]:
import pandas as pd 
hot_news=pd.read_csv('/Users/adityaravindrabhat/Downloads/Final Datasets/SemicleanDatasets_v1/hot_news_v1.csv')

In [2]:
hot_unique_count=hot_news['id'].nunique()
print((hot_unique_count/len(hot_news))*100)

30.474452554744524

In [3]:
#extracting the unique urls to extract the news articles
unique_urls=hot_news['url'].unique()
len(unique_urls)

4175

In [4]:
unique_urls=unique_urls.tolist()

In [5]:
from goose3 import Goose
from datetime import datetime

In [6]:
goose=Goose()
goose.config.https_timeout=120
goose.browser_user_agent= "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_2)"

In [10]:
articles_dict={ 
                "title":[],\
               "published_at":[],\
               "publish_date":[],\
               "tweets":[],\
               "domain":[],\
               "movies":[],\
               "tags"  :[],\
               "top_image":[],\
               "links":[]
              
               
}

In [30]:
for i in range(len(unique_urls)):
    try:  
        article=goose.extract(url=unique_urls[i])
        articles_dict["title"].append(article.title)
        articles_dict["published_at"].append(article.publish_datetime_utc)
        articles_dict["publish_date"].append(article.publish_date)
        articles_dict["tweets"].append(article.tweets)
        articles_dict['domain'].append(article.domain)
        articles_dict['tags'].append(article.tags)
        articles_dict['movies'].append(article.movies)
        articles_dict['top_image'].append(article.top_image)
        articles_dict['links'].append(article.links)
        
    except:
        continue

In [31]:
article_meta=pd.DataFrame.from_dict( articles_dict)
article_meta.head()

,title,published_at,publish_date,tweets,domain,movies,tags,top_image,links
0,r/news - 2020 Tokyo Olympics Megathread,None,None,[],www.reddit.com,[],[],None,"[/r/sports/, /r/olympics/, https://olympics.co..."
1,Disturbing message written on man’s chest,2021-07-20 22:58:00+00:00,2021-07-20T22:58:00.000Z,[],www.news.com.au,[],[],None,[https://nypost.com/2021/07/20/man-found-dead-...
2,New Jersey hospital system fires 6 employees w...,2021-07-21 14:37:00+00:00,Wed Jul 21 2021 14:37:00 GMT+0000 (UTC),[],www.nbcnews.com,[],[],None,[https://www.rwjbh.org/blog/2021/may/rwjbarnab...
3,Yosemite park ranger shares heartbreaking plea...,2021-07-21 00:39:35+00:00,2021-07-21T00:39:35Z,[],www.cnn.com,[],[],None,[https://www.facebook.com/YosemiteNPS/posts/41...
4,Sheriff’s office captain found passed out in t...,2021-07-21 21:46:32.448000+00:00,2021-07-21T21:46:32.448Z,[],www.wftv.com,[],[],None,[https://www.wftv.com/news/trending/how-do-you...

In [33]:
article_meta.to_csv('/Users/adityaravindrabhat/Downloads/Final Datasets/Goose Dataset/hot_news_articles_meta.csv')

In [43]:
article_body={
    'body':[]
}

In [44]:
for i in range(len(unique_urls)):
    try:
            body=goose.extract(url=unique_urls[i])
            article_body["body"].append(body.cleaned_text)
    except :
        continue

In [46]:

art=list(article_body.values())

file = '/Users/adityaravindrabhat/Downloads/Final Datasets/Goose Text Articles/hot_news_articles/file{}.txt'
n=1
for i in range(len(art[0])):
    with open(file.format(n),'w') as f :
        f.write(str(art[0][i]))
        n+=1